.ant-advanced-search-form {
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    box-sizing: border-box;
  }
  .ant-row .ant-form-item.ant-form-item-with-help {
    margin-bottom: -1px;
  }

  .ant-row .ant-form-item.ant-form-item-with-help.sadasd {
    margin-bottom: 5px;
  }
  .ant-advanced-search-form .ant-form-item {
    display: flex;
  }
  
  .ant-advanced-search-form .ant-form-item-control-wrapper {
    flex: 1;
  }
  .ant-advanced-search-form.reflax .ant-form-item-label {
    width: 30%;
  }